.img {
  display: block;
  width: 100%;
  content: url("../assets/images/image-web-3-desktop.jpg");
}

@media only screen and (max-width: 375px) {
  .img {
    content: url("../assets/images/image-web-3-mobile.jpg");
  }
}
